:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.spline-bg {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 120vw;
  height: 120vh;
  transform: translateX(-50%);
  z-index: -1;
  pointer-events: none;
}


@media (max-width: 1920px) {
  .spline-bg {
    width: 100vw;
    height: 80vh;
  }

  .left-wrap {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .left {
    display: flex;
    font-size: 3em;
  }

  .right {
    display: flex;
    font-size: 3em;
  }

  .right-wrap {
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .mid {

    position: absolute;
    left: 50%;
    transform: scale(1.4) translateX(-50%);
    transform-origin: center;
  }
}


@media (max-width: 1600px) {
  .spline-bg {
    width: 100vw;
    height: 60vh;
  }


}

@media (max-width: 1440px) {
  .spline-bg {
    width: 100vw;
    height: 40vh;
  }

}

@media (max-width: 1280px) {
  .spline-bg {
    width: 100vw;
    height: 30vh;
  }

  .left {
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
  }
}

@media (max-width: 540px) {
  .spline-bg {
    width: 100vw;
    height: 20vh;
  }

  .left-wrap {
    position: fixed;

    left: 4vw;
    top: 50%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.2em;
  }

  .left {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;

  }

  .right {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }

  .right-wrap {
    position: fixed;

    right: 4vw;
    top: 50%;

    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: 1.2em;
  }

  .mid {
    position: absolute;
    left: 50%;
    transform: scale(0.8) translateX(-50%);
    transform-origin: center;
  }
}

/* this is lavender transition*/

.lavender-layer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #D3D3FF;

  z-index: 500;
  transform: translateY(100%);
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lavender-layer.show {
  transform: translateY(0);
}

.mid {
  position: fixed;
  left: 50%;
  top: 1%;
  transform: translate(-50%, -50%);
  z-index: 600;

  transition: all 0.8s cubic-bezier(.25, .75, .5, 1.25);
}

.mid.bottom {
  top: 85%;
  transform: translateX(-50%);
}